@model IntraGriegHomolog.Models.CAD_ITEM

@{
    ViewBag.Title = "CadastroItem";
}
<h2>Novo Item</h2>
@if (TempData["erro"] != null)
{
    <div class="@TempData["TypeErro"]" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span style="color:black">  @TempData["erro"]  </span>
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.typeID, "Modelo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("typeID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.typeID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.descs, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.descs, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.descs, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-success btn-sm" />
                @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default btn-sm" })

            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
